:root {
  --title-font: "Jost", sans-serif;
  --dark-color: #161b33;
  --light-color: #f1dac4;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../img/header-kyoto01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1dac4;
  text-align: center;
  padding: 250px;
}

header h1 {
  font-family: var(--title-font);
  font-size: 70px;
  line-height: 1.5;
  margin: 0px;
}

header h2 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 35px;
  line-height: 1.5;
  margin: 0px;
}

.learn-more {
  color: var(--light-color);
  background: var(--dark-color);
  font-style: none;
  font-weight: bold;
  font-family: var(--title-font);
  padding: 15px 20px;
  border-radius: 30px;
  margin-top: 30px;
}

.learn-more:hover {
  background: var(--light-color);
  color: var(--dark-color);
  cursor: pointer;
}

.about-grid {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 64px;
  padding: 70px 100px;
  display: block;
}

p,
main h2 {
  font-family: var(--title-font);
  font-size: 25px;
  color: var(--dark-color);
}

footer {
  background: var(--dark-color);
  padding: 40px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-grid {
  grid-template-columns: 1fr 2fr 2fr;
  display: grid;
  grid-gap: 48px;
}

footer h3 {
  color: var(--light-color);
  font-family: var(--title-font);
  font-size: 25px;
  font-weight: bold;
}

footer p {
  color: var(--light-color);
  font-family: var(--title-font);
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

footer li {
  list-style: none;
  color: var(--light-color);
  font-family: var(--title-font);
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

.link {
  color: var(--light-color);
  text-decoration: underline;
  opacity: 80%;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 960px) {
  header {
    padding: 125px 0;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 17px;
  }

  .learn-more {
    font-size: 3px;
    padding: 5px 15px;
    border-radius: 30px;
    margin-top: 15px;
  }

  footer h3,
  p,
  li {
    font-size: 15px !important;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
