:root {
  --title-font: "Jost", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../img/header-kyoto01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1dac4;
  text-align: center;
  padding: 130px;
}

header h1 {
  font-family: var(--title-font);
  font-size: 70px;
  line-height: 1.5;
  margin: 0px;
}

header h2 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 35px;
  line-height: 1.5;
  margin: 0px;
}

.learn-more {
  color: #f1dac4;
  background: #161b33;
  font-style: none;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: var(--title-font);
  padding: 15px 20px;
  border-radius: 30px;
  margin-top: 30px;
}

.learn-more:hover {
  background: #f1dac4;
  color: #161b33;
  cursor: pointer;
}

p {
  font-family: var(--title-font);
  font-size: 25px;
  text-align: center;
}

footer {
  background: #161b33;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  grid-template-columns: 1fr 2fr 2fr;
  display: grid;
  grid-gap: 80px;
}

footer h3 {
  color: #f1dac4;
  font-family: var(--title-font);
  font-size: 25px;
  font-weight: bold;
}

footer p {
  color: #f1dac4;
  font-family: var(--title-font);
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

footer li {
  list-style: none;
  color: #f1dac4;
  font-family: var(--title-font);
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

.link {
  color: #f1dac4;
  text-decoration: underline;
  opacity: 80%;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 17px;
  }

  .learn-more {
    font-size: 3px;
    padding: 5px 10px;
    border-radius: 30px;
    margin-top: 15px;
  }

  footer h3,
  p,
  li {
    font-size: 15px !important;
  }

  .grid {
    grid-template-columns: 1fr 2fr 2fr;
    display: grid;
    grid-gap: 40px;
  }
}
