:root {
  --title-font: "Jost", sans-serif;
  --text-font: "Quicksand", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/header-kyoto01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1dac4;
  text-align: center;
  padding: 200px;
}

header h1 {
  font-family: var(--title-font);
  font-size: 70px;
  line-height: 1.5;
  margin: 0px;
}

header h2 {
  font-family: var(--title-font);
  font-weight: lighter;
  font-size: 35px;
  line-height: 1.5;
  margin: 0px;
}

.learn-more {
  color: #f1dac4;
  background: #161b33;
  font-style: none;
  letter-spacing: 2px;
  font-family: var(--title-font);
  padding: 15px 20px;
  border-radius: 30px;
  margin-top: 30px;
}

.learn-more:hover {
  background: #f1dac4;
  color: #161b33;
  cursor: pointer;
}

p {
  font-family: var(--text-font);
  font-size: 25px;
  text-align: center;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../img/header-kyoto06.jpg);
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  color: #f1dac4;
  font-family: var(--title-font);
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

footer p {
  color: #f1dac4;
  font-family: var(--text-font);
  font-size: 7px;
  text-align: center;
}

footer ul {
  color: #f1dac4;
  font-family: var(--text-font);
  font-size: 7px;
  text-align: center;
}

.open-sourced {
  color: #f1dac4;
  text-decoration: underline;
}

.open-sourced:hover {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 17px;
  }

  .learn-more {
    font-size: 3px;
    padding: 5px 10px;
    border-radius: 30px;
    margin-top: 15px;
  }
}
